$font-serif-c: 'PT Serif Caption', serif;
$font-avenir: 'Avenir', 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
$font-lato: 'Lato', 'helvetica neue',helvetica,arial,sans-serif;
$font-handwrite-c: 'Pacifico', cursive;

$brand-deepg: #212121;

$brand-primary:                 #FF5252 !default;
$brand-secondary:               darken(#FF5252, 5%) !default;
