$font-serif-c: 'PT Serif Caption', serif;
$font-avenir: 'Avenir', 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
$font-lato: 'Lato', 'helvetica neue',helvetica,arial,sans-serif;
$font-handwrite-c: 'Pacifico', cursive;

$deep-gray: #1E1E1E !default;
$light-gray: #fbfcfd !default;

$brand-primary: #0275d8 !default;
$brand-secondary:   darken(#0275d8, 10%) !default;

$luxury-gold: #BDAD87 !default;
$luxury-rose: #F12E45 !default;
$luxury-green: #5CA391 !default;