$font-serif-c: 'PT Serif Caption', serif;
$font-avenir: 'Avenir', 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
$font-lato: 'Lato', 'helvetica neue',helvetica,arial,sans-serif;
$font-handwrite-c: 'Pacifico', cursive;

$deep-gray: #1E1E1E;

$brand-primary:                 #FF5252 !default;
$brand-secondary:               darken(#FF5252, 5%) !default;
