<div class="container-fluid" style="padding-top: 50px; max-width: 1200px;">
    <div class="row">
        <div class="col-sm-3" *ngIf="currentUser.role === 'admin' ">
            <div class="card side-menu">
                <div class="menu-item" routerLink="/dashboard/company/members">Members</div>
                <div class="menu-item" routerLink="/dashboard/company/sales">Sales</div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-block">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>