/*@import "../../shared/scss/variables";
@import "../../shared/scss/global";*/

.message-window {
	background: white;
	height: 600px;
}

.main-thread {
	width: 30%;
	border: 1px solid black;
	float: left;
}

.conversation-thread {
	width: 70%;
	border: 1px solid black;
	float: left;
}