<div class="container" style="min-width: 600px">
    <div class="message-window">
        <div class="main-thread">
            <div class="state-selection-container">
                <span [class.active]="tabSelected === 'message'" (click)="checkTabStyle('message')">Messages</span>
                <span>|</span>
                <span [class.active]="tabSelected === 'invitation'" (click)="checkTabStyle('invitation')">Invitation</span>
            </div>
            <div class="main-thread-content">
                <ul *ngIf="tabSelected === 'message'">
                    <li class="single-main-thread" *ngFor="let notice of messageMain" [class.mainActive]="notice.from._id === selectedUserId" (click)="selectMessage(notice.from, 'message')">
                        <span class="time">
                            {{notice.createAt}}
                        </span>
                        <div class="clearfix">
                            <div class="image-container">
                                <img src="{{notice.from.photo.url}}" alt="">
                            </div>
                            <div class="text-container">
                                <div class="sender-name">{{notice.from.name}}
                                </div>
                                <div class="description">{{notice.description}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul *ngIf="tabSelected === 'invitation'">
                    <li class="single-main-thread" *ngFor="let notice of inviteMain" [class.mainActive]="notice.from._id === selectedUserId" (click)="selectMessage(notice.from, 'invitation')">
                        <span class="time">
                            {{notice.createAt}}
                        </span>
                        <div class="clearfix">
                            <div class="image-container">
                                <img src="{{notice.from.photo.url}}" alt="">
                            </div>
                            <div class="text-container">
                                <div class="sender-name">{{notice.from.name}}
                                </div>
                                <div class="description">{{notice.description}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Conversation thread on the right -->
        <div class="conversation-thread">
            <div class="title-container">
                <span class="sender-name">{{selectedUser.name}}</span>
            </div>
            <ul class="message-list">
                <li class="message-list-item" *ngFor="let m of messageDetail">
                    <div class="clearfix">
                        <span class="time">
                            {{m.createAt}}
                        </span>
                        <div class="image-container">
                            <img src="{{m.from.photo.url}}" alt="">
                        </div>
                        <div class="text-container">
                            <div class="sender-name">{{m.from.name}}
                            </div>
                            <div class="description">{{m.description}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="message-input-container">
                <form #newMessageForm="ngForm" (ngSubmit)="submitMessage(newMessageForm.value)">
                    <div class="input-group">
                        <input class="form-control" rows="3" [(ngModel)]="newMessage.body" placeholder="Your message..." name="body" required />
                        <div class="input-group-btn">
                            <button [disabled]="!newMessageForm.form.valid"  class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
