@import "../../../style/variables";
@import "../../../style/global";
@import "../../../style/override";

.message-window {
	background: white;
	height: 600px;
}

.main-thread {
	width: 30%;
	border: 1px solid $silent-grey;
	border-right: none;
	float: left;
	min-height: 600px;
	position: relative;
}

.main-thread-list {
	height: 539px;
	overflow-y: scroll;
}

.conversation-thread {
	width: 70%;
	border: 1px solid $silent-grey;
	float: left;
	min-height: 600px;
	position: relative;
	.icon-poster {
		padding-top: 35%;
	}
}

.message-input-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0px;
	border-top: 1px solid $silent-grey;
	// background: #F6F7F9;
	.input-group {
		.form-control {
			border: 0px solid rgba(0,0,0,0);
			padding: 10px 15px;
			font-size: 1.1em;
		}

		.input-group-btn {
			padding: 0px;
			.btn {
				border: 0px solid;
				margin: 0 3px;
				padding: 8px 30px;
				border-radius: 3px !important;
			}
		}
	}

}

.state-selection-container {
	user-select: none;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 18px 19px 18px 22px;
	border-bottom: 1px solid $silent-grey;
	color: $silent-grey;
	span {
		cursor: pointer;
		&:hover {
			color: black;
		}
	}
}

.title-container {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 18px 19px 18px 22px;
	border-bottom: 1px solid $silent-grey;
}

.main-thread-content {
	position: relative;
	top: 60px;
	ul {
		padding: 0px;
	}
}

.single-main-thread {
	cursor: pointer;
	list-style: none;
	padding: 10px;
	border-bottom: 1px solid $silent-grey;
	user-select: none;
	
	.image-container {
		float: left;
		width: 55px;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.text-container {
		float: left;
		width: 160px;
		padding-top: 5px;
		div {
			overflow: hidden;
			height: 20px;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
		}
	}

	&:hover {
		background: darken($light-gray, 1%);
	}
	&:active {
		background: darken($light-gray, 3%);
	}
}

.sender-name {
	font-weight: bolder;
	user-select: none;
}

.description {
	color: $silent-grey;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }

.active { color: black; }

.mainActive {
	background-color: $brand-primary;
	color: white;
	.time {
		color: white;
	}
	.description {
		color: white;
	}
	&:hover {
		background-color: $brand-primary;
	}
}

.message-list {
	position: relative;
	top: 60px;
	list-style: none;
	padding: 10px;
	height: 485px;
	overflow-y: scroll;
}

.message-list-item {
	padding: 8px 20px;
	.image-container {
		float: left;
		width: 8%;
		padding-top: 5px;
		img {
			width: 32px;
			height: 32px;
		}
	}
	.text-container {
		float: left;
		width: 75%;
	}
	.description {
		color: black;
	}
}

.time {
	float: right;
	color: $silent-grey;
	font-weight: thin;
}
.msg-behavior {
	padding-top: 10px;
	float: right;
    span {
        transition: .1s all ease-in-out;
        transform: scale(0);
        opacity: 0.6;
        cursor: pointer;
        text-transform: capitalize;
        border-radius: 5px;
        background-color: none;
        padding: 5px 10px;
        margin: 10px 5px;
        border-radius: 4px;
        &:hover{
            opacity: 1;
            i {
                opacity: 1;
            }
        }
    }
    .btn-accept {
        color: $luxury-green;
        &:hover{
            transform: scale(1.05);
            background: rgba($luxury-green,0.2);
            i {
                color: darken($luxury-green,5%);
            }
        }
        &:active{
            color: white;
            background: rgba($luxury-green,0.8);
            i {
                color: ligten($luxury-green,5%);
            }
        }
    }
    .btn-decline {
        color: $luxury-rose;
        &:hover{
            transform: scale(1.05);
            background: rgba($luxury-rose,0.1);
            i {
                color: darken($luxury-rose,5%);
            }
        }
        &:active{
            color: white;
            background: rgba($luxury-rose,0.6);
            i {
                color: ligten($luxury-rose,5%);
            }
        }
    }
}

.invite-box {
	padding: 20px;
	width: 90%;
	margin: 10px auto;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	.image-container {
		float: left;
		width: 10%;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.text-container {
		float: left;
		width: 70%;
	}
	.description {
		color: black;
	}
	p {
		margin-top: 10px;
		margin-bottom: 0px;
	}
}

.inviteHeight {
	height: 539px;
}

.participant-img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

