<!--<form (ngSubmit)='onSubmit(planCreateForm.value)' #planCreateForm="ngForm">

    <div class="section" ng-init="plan.type = 'single' ">
        <h2 class="title">1. Totaly price</h2>
        <input type="text" class="totalPrice" (ngModel)="plan.totalPrice" #totalPrice placeholder="1299.00"> {{totalPrice.value}}
    </div>
    <div class="section">
        <h2 class="title">2. Down Payment</h2>
        <h2 class="notes">Down payment will be processed immediately after plan is confirmed by buyer.</h2>
        <input type="text" class="totalPrice" (ngModel)="plan.downpayment" #downpayment placeholder="300.00">
    </div>
    <button type="submit">submit</button>
</form>-->

<div class="container" style="padding-top: 30px;">
    <form (ngSubmit)='onSubmit(planCreateForm.value)' #planCreateForm="ngForm">
        {{valuesss}}
        <div class="row">
            <div class="col-sm-8 col-md-8 right_container" style="background: #F7F7F7">
                <div class="section" ng-init="plan.type = 'single' ">
                    <h2 class="title">1. Totaly price</h2>
                    <input type="text" class="totalPrice" (ngModel)="plan.totalPrice" name="totalPrice" placeholder="1299.00">
                    {{totalPrice.value}}
                </div>
                <div class="section">
                    <h2 class="title">2. Down Payment</h2>
                    <h2 class="notes">Down payment will be processed immediately after plan is confirmed by buyer.</h2>
                    <input type="text" class="totalPrice" (ngModel)="plan.downpayment" name="downpayment" placeholder="300.00">
                </div>
                <div class="section animated fadeIn" ng-if="plan.total>1">
                    <h2 class="title">3. Payment Interval</h2>
                    <div class="row">
                        <div class="col-sm-4 intervalChoice">
                            <div ng-click="intervalSelected('weekly')" class="choice" ng-class="(plan.interval == 'weekly')? 'selected' : '' ">
                                Every Week
                            </div>
                        </div>
                        <div class="col-sm-4 intervalChoice">
                            <div ng-click="intervalSelected('biweekly')" class="choice" ng-class="(plan.interval == 'biweekly')? 'selected' : '' ">
                                Every 2 Weeks
                            </div>
                        </div>
                        <div class="col-sm-4 intervalChoice">
                            <div ng-click="intervalSelected('monthly')" class="choice" ng-class="(plan.interval == 'monthly')? 'selected' : '' ">
                                Every Month
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section animated fadeIn" ng-if="plan.total>1">
                    <h2 class="title">4. How many installments?</h2>
                    <div class="form-item">
                        <!--<input class="range" type="range" min="1" max="12" ng-init="defaultPlanTimes(plan.installmentsTimes)" ng-model="plan.times" ng-change="updateTimes(plan.times)">-->
                        <br>
                        <!--<br> <b style="font-size: 200%">{{((plan.total - plan.downpay) / plan.times) | currency}} for {{plan.times}} installments</b>-->
                        <br> <b style="font-size: 200%">adfds f dsf dsf sdf df sdf </b>
                        <br>
                    </div>
                    <br>
                    <div ng-init="updateTimes(plan.times)" class="installmentsGraphContainer">
                        <div class="graph-item" ng-repeat="installment in installmentsGraphData" ng-style="installment.style"></div>
                        <!-- <div class="graph-item" ng-repeat="installment in installmentsGraphData" ng-style="installment.style"><span ng-if="installmentsGraphData.length < 6 || ($index % 2 == 0)">{{(plan.total-plan.downpay)/plan.times | currency}}</span></div> -->
                    </div>
                </div>
                <!-- <div class="section animated flipInY" ng-if="plan.total>1">
                <h2 class="title">The first installment date?</h2>
                <input type="date" min="2016-07-17"><br>
            </div> -->
            </div>
            <div class="col-sm-4 col-md-4" style="text-align: center">
                <div class="singlePlanPreviewSticky">
                    <!-- <svg class="hidden-xs-down" width="100%" style="margin:auto" viewBox="12360 5155 294 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <rect id="path-1" x="0" y="0" width="292" height="179" rx="8"></rect>
                        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
                            <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                            <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="Group-12" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(12361.000000, 5156.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Mask">
                            <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-1"></use>
                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        <path d="M292,124 L292,28 C265.490332,28 244,49.490332 244,76 C244,102.509668 265.490332,124 292,124 Z M292,109.6 L292,42.4 C273.443232,42.4 258.4,57.4432324 258.4,76 C258.4,94.5567676 273.443232,109.6 292,109.6 Z" id="Combined-Shape" fill="#04AADC" mask="url(#mask-2)"></path>
                        <text style="text-align: center" id="$539-" mask="url(#mask-2)" font-family="Lato-Light, Lato" font-size="41" font-weight="300" letter-spacing="-1.42078609" fill="#1B1B1B">
                            <tspan x="70" y="100">{{singlePayment() || 0 | currency}}</tspan>
                        </text>
                        <text id="/-weekly" stroke="none" fill="none" font-family="Lato" font-size="16" font-weight="500" letter-spacing="-0.508754849">
                            <tspan x="149.774039" y="121" fill="#838383">/ {{plan.interval}}</tspan>
                        </text>
                        <text id="$100-downpay" mask="url(#mask-2)" font-family="Lato-Heavy, Lato" font-size="16" font-weight="600" letter-spacing="-0.508754849" fill="#838383">
                            <tspan x="13" y="25">{{plan.downpay || 0 | currency}} downpay</tspan>
                        </text>
                        <text id="for-12-months" mask="url(#mask-2)" font-family="Lato-Heavy, Lato" font-size="16" font-weight="600" letter-spacing="-0.508754849" fill="#838383">
                            <tspan x="160" y="165">for {{plan.times || 3}} installments</tspan>
                        </text>
                        <text id="2883-3381" mask="url(#mask-2)" font-family="Beirut" font-size="20" font-weight="bold" letter-spacing="0.802449135" fill="#3A3A3A">
                            <tspan x="13" y="166">2883-3381</tspan>
                        </text>
                    </g>
                </svg> -->
                    <!--<div class="section summary">
                    <h2 class="title">Plan Summary</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Total Price: </td>
                                <td>{{plan.total | currency}}</td>
                            </tr>
                            <tr>
                                <td>Down Payment: </td>
                                <td>{{plan.downpay | currency}}</td>
                            </tr>
                            <tr>
                                <td>Payment Interval: </td>
                                <td>{{plan.interval}}</td>
                            </tr>
                            <tr>
                                <td>Plan: </td>
                                <td ng-if="singlePayment()">
                                    <span>
                                    {{singlePayment() | currency}}
                                    <br>
                                    for {{plan.times}} installments
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>1st installment date: </td>
                                <td>{{plan.interval}}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>-->
                    <button type="submit" class="btn btn-block btn-primary" ng-click="previewSinglePlan(plan)">next</button>
                </div>
            </div>
        </div>
    </form>
</div>