<!DOCTYPE html>
<head>
    <title>欧耶教育转学帮手 - 404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />

    <link href='https://fonts.googleapis.com/css?family=PT+Serif|Lato:300' rel='stylesheet' type='text/css' />
    <style media="screen">
        .template {
            text-align: center;
            font-weight: 300;
            font-family: 'Lato', sans-serif;
            padding-top: 30px;
        }
        
        .actionButton {
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            padding: 15px 50px;
            border-radius: 4px;
            font-size: 0.8em;
            font-weight: 500;
            color: white;
            background: #1E1E1E;
            transition: .1s background ease-in-out;
            margin: auto;
            margin-top: 10px;
            border: 1px solid #1E1E1E;
            width: 100%;
            max-width: 300px;
            display: flex;
            outline: none;
            text-align:center;
        }
        
        .actionButton:hover {
            transition: .1s background ease-in-out;
            background: #313131;
        }
        .actionButton.actionButton-o {
            color: #1E1E1E;
            background: white;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="template">
        <img style="width: 100px;" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/13654354_154027298358398_4418786725610547538_n.jpg?oh=125c8c3e17eddee588506137ec57381a&oe=58137FCC" alt="yeah Education Group">
        <div>
            <h1 style="font-weight: 300; text-transform: capitalize; margin: 10px; font-size: 3em;">404</h1>
            <h2 style="font-weight: 300; font-size: 1.1em; color: rgba(0,0,0,0.4); margin: 10px; margin-bottom: 40px;">欢迎来访，不过这页目前不存在</h2>
            <a href="/#"><button class="actionButton">前往首页</button></a>
            <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><button class="actionButton actionButton-o">Email建议</button></a>
        </div>
    </div>
</body>

</html>