<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>欧耶教育申请帮手 - beta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />

    <!-- Load google font start -->
    <link href='https://fonts.googleapis.com/css?family=PT+Serif|Lato:100,400,300,700,900' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Teko:500,300' rel='stylesheet' type='text/css'>
    <!-- Load google font over -->

    <!-- Load css libraries start -->
    <link href="/bower_components/animate.css/animate.min.css" rel='stylesheet' type='text/css' />
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
    <!-- Load css libraries over -->

    

    <!-- Load libraries start -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/assets/sticky/jquery.sticky.js"></script>
    <!--<script src="/bower_components/satellizer/satellizer.min.js"></script>-->
    <!-- Load libraries over -->
    
    <!-- Polyfill(s) for older browsers start -->
    <script src="js/vendor/es6-shim/es6-shim.min.js"></script>
    <!-- Polyfill(s) for older browsers over -->

    <!-- Load vendor folder start -->
    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>
    <!-- Load vendor folder over -->

    <!-- Load in jquery start -->
    <script src="assets/custom.js"></script>
    <!-- Load in jquery over -->

    <!-- Configure SystemJS start -->
    <script src="systemjs.config.js"></script>
    <!-- Configure SystemJS over -->
</head>
<body>
    <sp-app>Loading...</sp-app>


    <script>
        System.import('app').catch(function(err){ console.error(err);  });
    </script>
    <!-- Load in css stylesheet start -->
    <link rel='stylesheet' href='/css/style.css'/>
    <!-- Load in css stylesheet over -->
</body>
</html>
