<div class="auth-page animated" [class.fadeInDown]="!selectedRole">
    <div class="auth-container">
        <a href="#"><img class="logo" src="/assets/images/logo-color.png"></a>
		<br/>
		<div class="row">
			<div class="col-xs-6 roleOpt col">
				<div (click)="goToForm('student')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('student')}">
					<p><b>Student</b></p>
					<small><p>学员</p></small>
				</div>
			</div>
			<div class="col-xs-6 roleOpt col">
				<div (click)="goToForm('advisor')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('advisor')}">
					<p><b>Advisor</b></p>
					<small><p>顾问</p></small>
				</div>
			</div>
			<div class="col-xs-4 roleOpt col">
				<div (click)="goToForm('supervisor')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('supervisor')}">
					<p><b>Supervisor</b></p>
					<small><p>上级顾问</p></small>
				</div>
			</div>
			<div class="col-xs-4 roleOpt col">
				<div (click)="goToForm('admin')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('admin')}">
					<p><b>Administrator</b></p>
					<small><p>管理员</p></small>
				</div>
			</div>
			<div class="col-xs-4 roleOpt col">
				<div (click)="goToForm('superadmin')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('superadmin')}">
					<p><b>Superadmin</b></p>
					<small><p>高级管理员</p></small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 animated fadeIn col" *ngIf="selectedRole">
				<div class="card card-block authCard text-xs-center">
					<h4 class="title">New {{roleCh}}</h4>
					<p class="log" *ngIf="!message">{{logMessage}}</p>
					<form (ngSubmit)='onSubmit(authForm.value)' #authForm="ngForm">
						<div class="form-group">
							<input required type="email" (ngModel)="auth.email" placeholder="Email" name="email" class="form-control">
						</div>
						<div class="form-group">
							<input required type="text" (ngModel)="auth.name" placeholder="Full Name" class="form-control" name="name" #name>
						</div>
						<div class="form-group">
							<input required type="password" (ngModel)="auth.password" placeholder="Password" name="password" #password class="form-control" min="6">
						</div>
						<div class="form-group message-input" [ngClass]="{'focus-border': focused}">
							<div [ngClass]="{'input-group': pwMsgSuccess || pwMsgFail}">
								<input required type="password" [(ngModel)]="confirmPassword" placeholder="Confirmed Password" name="confirmPassword" class="form-control" (keyup)="checkPw(authForm.value, confirmPassword)" (focus)="focused = true" (blur)="focused = false">
								<span class="input-group-addon" *ngIf="pwMsgSuccess">
									<i class="fa fa-check"></i>
								</span>
								<span class="input-group-addon" *ngIf="pwMsgFail">
									<i class="fa fa-exclamation"></i>
								</span>
							</div>
						</div>
						<div class="form-item text-capitalize">
							<button type="submit" class="btn btn-primary btn-block" [disabled]="!authForm.form.valid">
								Sign Up As {{roleCh}}
							</button>
							<hr>
							alreaady have an account?
                        	<button type="submit" class="btn btn-secondary-o btn-block" [routerLink]="['/login']">go to login In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
</div>
