<div class="auth-page">
    <div class="auth-container">
        <img class="logo" src="/assets/images/logo-color.png">
        	<!--<h4 class="title">请选择注册身分</h4>-->
			<br/>
			<div class="col-sm-4">
			    <div (click)="goToForm('student')" class="card card-block text-xs-center" [ngClass]="{active: checkStyle('student')}">
			        <p><b>Student</b></p>
			        <small><p>学员</p></small>
			    </div>
			</div>
			<div (click)="goToForm('advisor')" class="col-sm-4">
			    <div class="card card-block text-xs-center" [ngClass]="{active: checkStyle('advisor')}">
			        <p><b>Advisor</b></p>
			        <small><p>顾问</p></small>
			    </div>
			</div>
			<div (click)="goToForm('admin')" class="col-sm-4">
			    <div class="card card-block text-xs-center" [ngClass]="{active: checkStyle('admin')}">
			        <p><b>Admin</b></p>
			        <small><p>管理员</p></small>
			    </div>
			</div>
        	<div *ngIf="selectedRole" class="col-sm-12">
        		<div class="card card-block text-xs-center">
				    <h4 class="title">新欧耶{{roleCh}}</h4>
				    <form (ngSubmit)='onSubmit(authForm.value)' #authForm="ngForm">
				        <div class="form-group">
				            <input required type="email" (ngModel)="auth.email" placeholder="请输入电子邮箱" name="email" class="form-control">
				        </div>
				         <div class="form-group">
				            <input required type="password" (ngModel)="auth.password" placeholder="密码" class="password" name="password" #password class="form-control">
				        </div>
				        <div class="form-item">
				            <button type="submit" class="btn btn-primary responsive" [disabled]="!authForm.form.valid">
				            	注册成为欧耶{{roleCh}}
				        	</button>
				        </div>
				    </form>
					<p class="redirect">已经是{{roleCh}}了吗？<span [routerLink]="['/login']">这里登入</span></p>
				</div>
        	</div>
    </div>
</div>
