<div class="auth-page">
    <div class="auth-container">
        <a href="#"><img class="logo animated fadeInDown" src="/assets/images/logo-color.png"></a>
        <div class="row">
        <div class="col-sm-12 animated fadeInUp col">
            <div class="card card-block text-xs-center authCard">
                <h4 class="title">Login</h4>
                <form (ngSubmit)='onSubmit(authForm.value)' #authForm="ngForm">
                    <div class="form-group">
                        <input required type="email" 
                        (ngModel)="auth.email" 
                        placeholder="Email (username)"
                        name="email" #email
                        class="form-control">
                    </div>
                        <div class="form-group">
                        <div class="form-item">
                            <input required type="password"
                            (ngModel)="auth.password"
                            placeholder="Password" 
                            class="form-control"
                            name="password"
                            #password>
                        </div>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="btn btn-primary"
                        [disabled]="!authForm.form.valid">
                            Login
                        </button>
                    </div>
                </form>
                <p class="redirect text-capitalize"><span [routerLink]="['/signup']">Sign Up here</span></p>
            </div>
        </div>
        </div>
    </div>
</div>
    