<div class="login-container">
    <div class="login-form">
        <form (ngSubmit)='onSubmit(authForm.value)' #authForm="ngForm" novalidate>
            <div class="form-item">
                <input required type="email" 
                (ngModel)="auth.email" 
                placeholder="请输入电子邮箱"
                name="email" #email="ngModel">
            </div>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                请输入有效的电子邮箱
            </div>
            <div class="form-item">
                <input required type="password"
                (ngModel)="auth.password"
                placeholder="密码" 
                class="password"
                name="password"
                #password>
                <span class="lock"><i class="fa fa-lock"></i></span>
                <!--<h1 *ngIf="password.value">{{auth.password.value}}</h1>-->
            </div>
            
            <div class="form-item">
                <button type="submit" class="btn btn-primary responsive"
                [disabled]="!authForm.form.valid">
                    进入欧耶帮手
                </button>
            </div>
        </form>       
    </div>
</div>
    