<div class="auth-page">
    <div class="auth-container animated fadeInDown">
        <img class="logo" src="/assets/images/logo-color.png">
        <div class="col-sm-12">
            <div class="card card-block text-xs-center">
                <h4 class="title">登入欧耶</h4>
                <form (ngSubmit)='onSubmit(authForm.value)' #authForm="ngForm">
                    <div class="form-group">
                        <input required type="email" 
                        (ngModel)="auth.email" 
                        placeholder="请输入电子邮箱"
                        name="email" #email
                        class="form-control">
                    </div>
                        <div class="form-group">
                        <div class="form-item">
                            <input required type="password"
                            (ngModel)="auth.password"
                            placeholder="密码" 
                            class="form-control"
                            name="password"
                            #password>
                        </div>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="btn btn-primary responsive"
                        [disabled]="!authForm.form.valid">
                            进入欧耶帮手
                        </button>
                    </div>
                </form>
                <p class="redirect">不是会员吗？<span [routerLink]="['/signup']">这里加入</span></p>
            </div>
        </div>
    </div>
</div>
    