<div class="dashboard-page">
    <span (click)="profileToggled=false; inboxToggled=false">
        <nav>
            <div>Yeah Education</div>
        </nav>
        <div class="menu">
            <div [routerLink]="['/dashboard/pipe']" class="menu-item" (click)="checkMenuStyle('pipe')" [class.active]="currentSession==='pipe'" *ngIf=" currentUserRole=='student' || currentUserRole=='advisor' ">Timeline</div>
            <div [routerLink]="['/dashboard/explore']" class="menu-item" (click)="checkMenuStyle('explore')" [class.active]="currentSession==='explore'">Explore</div>
            <div [routerLink]="['/dashboard/resumes']" class="menu-item" (click)="checkMenuStyle('resumes')" [class.active]="currentSession==='resumes'" *ngIf="currentUserRole=='student'">Resumes</div>
            <div [routerLink]="['/dashboard/services']" class="menu-item" (click)="checkMenuStyle('services')" [class.active]="currentSession==='services'" *ngIf="true">Services</div>
            <div [routerLink]="['/dashboard/company']" class="menu-item" (click)="checkMenuStyle('company')" [class.active]="currentSession==='company'" *ngIf="currentUserRole=='superadmin'">Company</div>
            <div [routerLink]="['/dashboard/messages']" class="menu-item" (click)="checkMenuStyle('messages')" [class.active]="currentSession==='messages'">Messages</div>
        </div>
        <router-outlet></router-outlet>
    </span>
    
    <!--nav-menu is fixed position so put it under everything-->
    <div class="nav-menu">
        <span class="nav-item">
            <i class="fa fa-bell" (click)="inboxToggled = !inboxToggled; profileToggled = false;">
            </i>
            <!-- This should disappear when unread counts is 0 -->
            <span class="label label-danger unread" [hidden]="noticeCount < 1">{{noticeCount}}</span>
            <div class="list-menu" *ngIf="inboxToggled" [class.active]="inboxToggled">
                <ul>
                    <li *ngFor="let m of notifications" [hidden]="m.response">
                        <b>{{m.title}}</b> 
                        <small>{{m.description}}</small>
                        <div>
                            <button class="btn-accept" *ngIf="m.state === 'invitation'" (click)="respondToInvitation(m, true)">
                                Accept
                            </button>
                            <button class="btn-decline" *ngIf="m.state === 'invitation'" (click)="respondToInvitation(m, false)">
                                decline
                            </button>             
                        </div>
                    </li>
                    <li *ngIf="notifications[0]" (click)="goToMessagePage()">more messages</li>
                    <li [hidden]="notifications[0]">No notification yet</li>
                </ul>
            </div>
        </span>
        <span class="nav-item">
            <i class="fa fa-user" (click)="profileToggled = !profileToggled; inboxToggled = false"></i>
            <div class="list-menu" *ngIf="profileToggled" [class.active]="profileToggled">
                <ul (click)="profileToggled=false; inboxToggled=false">
                    <li [routerLink]="['/dashboard/account']" class="text-capitalize">Profile</li>
                    <li [routerLink]="['/dashboard/setting']" class="text-capitalize">Setting</li>
                    <li class="text-capitalize" (click)="logout()">Log Out</li>
                </ul>
            </div>
        </span>
    </div><!-- nav-menu over-->
    <!-- Notification popup -->
    <simple-notifications [options]="options"></simple-notifications>
</div>