@import "../../style/variables";
@import "../../style/global";
@import "../../style/override";

.title {
    font-weight: 900;
}

.card-block {
    // box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
    user-select: none;
    .row {
        cursor: default;
        text-transform: capitalize;
        padding: 4px 1px;
        .col-xs-4 {
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;
        }
        .col-xs-8 {
            text-align: right;
        }
        &:hover {
            opacity: 0.95;
        }
    }
    h6 {
        text-transform: capitalize;
        b {
            text-align: left;
        }
        .editBtn {
            user-select: none;
            text-transform: uppercase;
            padding-left: 6px;
            cursor: pointer;
            float: right;
            opacity: 0.5;
            &:hover {
                opacity: 0.9;
            }
            &:active {
                color: $brand-primary;
            }
        }
    }
    input {
        padding: 6px 16px;
    }
    input[disabled] {
        cursor: default;
        background: none;
        border: 1px solid rgba($deep-gray, 0);
        text-align: right;
    }
    .send {
        background: #1E1E1E;
        text-transform: uppercase;
        color: white;
    }

    select {
        
        text-align: center;
        padding: 6px 16px;
        font-size: 16px;
        -webkit-appearance: none;
        background: transparent;
        border: 0px;
        color: white;
    }

    .select-service {
        overflow:hidden;
        background: $brand-primary url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 98% center;
        margin-bottom: 10px;
    }
    .spinner > div {
        background-color: white;
    }
    &.hoverable {
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 10px 0px rgba($deep-gray, 0.3);
        }
    }
}

.single-main-thread {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid $silent-grey;
    user-select: none;
    
    .image-container {
        float: left;
        width: 55px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .text-container {
        float: left;
        width: 120px;
        div {
            overflow: hidden;
            height: 25px;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }
    }

    .time {
        float: right;
        color: $silent-grey;
        font-weight: thin;
    }

    &:hover {
        background: darken($light-gray, 1%);
    }
    &:active {
        background: darken($light-gray, 3%);
    }
}

@media (min-width: 767px) {
    .dashboard-page {
        .menu {
            .menu-item {
                width: 15%;
                max-width: 150px;
                padding: 6px 20px;
            }
        }
        .nav-menu {
            
        }
    }
}