$font-serif-c: 'PT Serif Caption', serif;
$font-avenir: 'Avenir', 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
$font-lato: 'Lato', 'helvetica neue',helvetica,arial,sans-serif;
$font-handwrite-c: 'Pacifico', cursive;

$light-blue-color: #65CFF1;
$fb-blue-color: #3B5998;
$deep-gray: #212121;

$brand-primary:                 #FF5252 !default;
$brand-secondary:               #FF5252 !default;
