@import "../../shared/scss/variables";
@import "../../shared/scss/global";


.card-block {
    // box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
    user-select: none;
    .row {
        text-transform: capitalize;
        padding: 8px 5px;
        .col-xs-4 {
            text-align: left;
        }
        .col-xs-8 {
            text-align: right;
        }
        &:hover {
            opacity: 0.95;
        }
    }
    h6 {
        text-transform: capitalize;
        b {
            text-align: left;
        }
        .editBtn {
            text-transform: uppercase;
            padding-left: 6px;
            cursor: pointer;
            float: right;
            opacity: 0.5;
            &:hover {
                opacity: 0.9;
            }
            &:active {
                color: $brand-primary;
            }
        }
    }
    &.hoverable {
        cursor: pointer;
        &:hover{
            box-shadow: 1px 1px 10px 0px rgba($deep-gray, 0.3);
        }
    }
    &.service {
        span {
            text-align: right;
            float: right;
        }
    }
}

h3.title {
    font-weight: 900;
}

.row {
    .col-small {
        padding-right: 7px;
        padding-left: 7px;
    }
}

.modal {
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(255,255,255,0.85);
    padding-top: 50px;
    padding-bottom: 100px;
    transition: .2s all ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: default;

    .card {
        opacity: 0;
        transition: .2s all ease-in-out;

        .close {
            border: 1px solid rgba(0,0,0,0);
            float: right;
            margin-top: -21px;
            margin-right: -21px;
            padding: 10px 15px;
            border-radius: 0px 3px 0px 0px;
        }
        header{
            h3.title{
                font-weight: 900;
                font-size: 2em;
            }
        }
    }
    &.active{
        transition: .2s all ease-in-out;
        padding-top: 100px;
        display: block;
        text-align: center;
        .card {
            transition: .2s all ease-in-out;
            height: auto;
            opacity: 1;
            width: 95%;
            margin: auto;
        }
    }

}


@media (min-width: 767px) {
    .modal {
        padding-top: 100px;
        &.active{
            padding-top: 150px;
            .card {
                max-width: 900px;
            }
        }
    }

}