<div class="container">
    <h3 class="title">Service <button *ngIf="(currentUser.role == 'admin')" class="btn btn-primary btn-narrow btn-small btn-inline" (click)="toggleModal('Create Service', 'new', 'create', currentUser._id)"><i class="fa fa-plus"></i></button></h3>
    <hr>
    <!-- Template for superadmin -->
    <div class="row" *ngIf="(currentUser.role == 'superadmin')">
        <div class="col-sm-12">
            <h5 class="title">Superadmin can see all services!!!</h5>
        </div>
    </div>
    <!-- Template for superadmin ends -->
    <!-- Template for admin and supervisor -->
    <div class="row" *ngIf="(currentUser.role == 'admin') || (currentUser.role == 'supervisor')">
        <div class="col-sm-12" *ngIf="!(services[0])">
            <div class="icon-poster">
                <h5 class="title">
                    <i class="icon fa fa-hourglass-o" aria-hidden="true"></i>
                </h5>
                <h5 class="title">You don't have any clients yet.</h5>
                <button class="btn btn-primary" (click)="toggleModal('Create Service', 'new', 'create', currentUser._id)">Create new service</button>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-small" *ngFor="let service of services">
            <div class="card" (click)="getOneServce(service._id)">
                <div class="card-block service hoverable">
                    <div>
                        Student: 
                        <span *ngIf="service.participants.student.userData">{{service.participants.student.userData.name}}
                            <span class="check-container" *ngIf="service.participants.student.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        Advisor: 
                        <span *ngIf="service.participants.advisor.userData">{{service.participants.advisor.userData.name}}
                            <span class="check-container" *ngIf="service.participants.advisor.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        Supervisor: 
                        <span *ngIf="service.participants.supervisor.userData">{{service.participants.supervisor.userData.name}}
                            <span class="check-container" *ngIf="service.participants.supervisor.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        Admin: 
                        <span *ngIf="service.participants.admin.userData">{{service.participants.admin.userData.name}}
                            <span class="check-container" *ngIf="service.participants.admin.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        CreateAt: <span>{{generateDate(service.createAt)}}</span>
                    </div>
                    <div>
                        Packages: <span>{{service.package}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Template for admin and supervisor ends -->
    <!-- Template for advisor -->
    <div class="row" *ngIf="(currentUser.role == 'advisor')">
        <div class="col-sm-12" *ngIf="!(services[0])">
            <div class="icon-poster">
                <h5 class="title">
                    <i class="icon fa fa-hourglass-o" aria-hidden="true"></i>
                </h5>
                <h5 class="title">You don't have any clients yet.</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-small" *ngFor="let service of services">
            <div class="card">
                <div class="card-block service hoverable">
                    <div>
                        Student: 
                        <span *ngIf="service.participants.student.userData">{{service.participants.student.userData.name}}
                            <span class="check-container" *ngIf="service.participants.student.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        Advisor: 
                        <span *ngIf="service.participants.advisor.userData">{{service.participants.advisor.userData.name}}
                            <span class="check-container" *ngIf="service.participants.advisor.confirmed">
                                <i class="fa fa-check-square"></i>
                            </span>
                        </span>
                    </div>
                    <div>
                        CreateAt: <span>{{generateDate(service.createAt)}}</span>
                    </div>
                    <div>
                        Packages: <span>{{service.package}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Template for advisor ends -->
    <!-- Template for student -->
    <div class="row" *ngIf="(currentUser.role == 'student')">
        <div class="col-sm-12" *ngIf="!(services[0])">
            <div class="icon-poster">
                <h5 class="title">
                    <i class="icon fa fa-hourglass-o" aria-hidden="true"></i>
                </h5>
                <h5 class="title">You don't have any package yet.</h5>
                <button class="btn btn-primary">Explore service</button>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="(services[0])">
            <div class="col-sm-4 paper white-bg package-container">
                <h3>
                    {{services[0].package}}
                </h3>
                <small class="text-muted">{{services[0].createAt | date}}</small>
                <p>
                    Package Description: 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu arcu at erat imperdiet condimentum. Mauris sit amet velit nec dolor vulputate volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In molestie nulla nibh, maximus consequat urna euismod nec. Vivamus venenatis ligula dignissim augue convallis, at maximus mi faucibus. Duis pellentesque ex eget massa commodo congue. Suspendisse sit amet est dolor. In hac habitasse platea dictumst. Cras luctus, eros ut tincidunt vehicula, risus erat consequat ligula, eget sagittis tortor massa quis lacus. Integer arcu ex, finibus sit amet dolor sit amet, gravida semper enim. Vivamus enim lectus, hendrerit commodo varius id, tincidunt id ligula. Suspendisse nec ultricies nibh. Aliquam erat volutpat. Nunc semper velit nec sagittis volutpat. Praesent hendrerit posuere sagittis.
                </p>
            </div>
            <div class="col-sm-8 paper">
                <div class="white-bg participants" *ngIf="services[0].participants.student.userData">
                    <span class="confirmed-btn" *ngIf="services[0].participants.student.confirmed">
                        confirmed
                    </span>
                    <span class="waiting-btn" [hidden]="services[0].participants.student.confirmed">
                        not yet confirmed
                    </span>
                    <h3>
                        {{services[0].participants.student.userData.name}}
                        <small> - student</small>
                    </h3>
                    <p>{{services[0].participants.student.userData.email.data}}</p>
                    
                </div>
                <div class="white-bg participants" *ngIf="services[0].participants.advisor.userData">
                    <span class="confirmed-btn" *ngIf="services[0].participants.advisor.confirmed">
                        confirmed
                    </span>
                    <span class="waiting-btn" [hidden]="services[0].participants.advisor.confirmed">
                        not yet confirmed
                    </span>
                    <h3>
                        {{services[0].participants.advisor.userData.name}}
                        <small> - advisor</small>
                    </h3>
                    <p>{{services[0].participants.advisor.userData.email.data}}</p>
                </div>
                <div class="white-bg participants" *ngIf="services[0].participants.supervisor.userData">
                    <span class="confirmed-btn" *ngIf="services[0].participants.supervisor.confirmed">
                        confirmed
                    </span>
                    <span class="waiting-btn" [hidden]="services[0].participants.supervisor.confirmed">
                        not yet confirmed
                    </span>
                    <h3>
                        {{services[0].participants.supervisor.userData.name}}
                        <small> - supervisor</small>
                    </h3>
                    <p>{{services[0].participants.supervisor.userData.email.data}}</p>
                </div>
                <div class="white-bg participants" *ngIf="services[0].participants.admin.userData">
                    <span class="confirmed-btn" *ngIf="services[0].participants.admin.confirmed">
                        confirmed
                    </span>
                    <span class="waiting-btn" [hidden]="services[0].participants.admin.confirmed">
                        not yet confirmed
                    </span>
                    <h3>
                        {{services[0].participants.admin.userData.name}}
                        <small> - admin</small>
                    </h3>
                    <p>{{services[0].participants.admin.userData.email.data}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Template for student ends -->
</div>

<!-- Modal below -->
<div class="modal" [class.active]="modalActivated" [class.fadeIn]="modalActivated">
    <div class="card animated">
        <header>
            <h3 class="title">{{activatedModal.title}}</h3>
            <div class="close" (click)="toggleModal()">×</div>
        </header>
        <span *ngIf="activatedModal.state == 'new' ">
        <body>
            <form #newServiceForm="ngForm">
                <div class="row" *ngIf="activatedModal.state == 'new' ">
                <div class="form-group row">
                    <label class="col-xs-4 col-form-label">Student <small>(client)</small></label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input class="form-control" placeholder="Student Email" type="email" (ngModel)="newService.student" name="student" autofocus (blur)="checkEmail($event.target.value)" required>
                            <span class="input-group-addon" *ngIf="!invalidEmail">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="input-group-addon" *ngIf="checking">
                                <i class="fa fa-spinner faa-spin animated"></i>
                            </span>
                            <span class="input-group-addon" *ngIf="invalidEmail">
                                <i class="fa fa-exclamation"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-4 col-form-label">Package</label>
                    <div class="col-xs-8">
                        <select name="package" placeholder="choose a package" class="form-control" [(ngModel)]="newService.package" name="package" required>
                            <option value disabled>&#9662; Application package &#9662;</option>
                            <option value="app_regular1">Application Regular Private/Hass package</option>
                            <option value="app_regular2">Application Regular UCB/UCLA package</option>
                            <option value="app_regular3">Application Regular UCs package</option>
                            <option value="app_guarantee1">Application Guarantee UCB/UCLA package</option>
                            <option value="app_president">Application CEO package</option>
                            <option value disabled>&#9662; Longterm package &#9662;</option>
                            <option value="long_cn1">Longterm Gold package (China)</option>
                            <option value="long_cn2">Longterm Silver package (China)</option>
                            <option value="long_cn3">Longterm Bronze package (China)</option>
                            <option value="long_us1">Longterm Gold package (US)</option>
                            <option value="long_us2">Longterm Silver package (US)</option>
                            <option value="long_us3">Longterm Bronze package (US)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-4 col-form-label">Price</label>
                    <div class="col-xs-4">
                        <input class="form-control" placeholder="Price" type="number" [(ngModel)]="newService.price" min="{{priceLimit}}" name="price" required>
                    </div>
                    <div class="col-xs-4">
                        <select name="priceUnit" placeholder="choose a price unit" class="form-control" [(ngModel)]="newService.priceUnit" name="priceUnit" required (change)="currencyChange($event.target.value)">
                            <option value disabled selected>choose a price unit</option>
                            <option value="USD">USD</option>
                            <option value="RMB">RMB</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-4 col-form-label"> Password<small>(yours)</small></label>
                    <div class="col-xs-8">
                        <input class="form-control" placeholder="Your Password" type="password" (ngModel)="password" name="password" required>
                    </div>
                </div>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-secondary-o" (click)="toggleModal()">Cancel</button>
                    <button class="btn btn-primary" type="submit" (click)="createService(newServiceForm.value)" [disabled]="!newServiceForm.form.valid || invalidEmail">{{activatedModal.behavior}}</button>
                </div>
            </form>
        </body>
        </span>
        <span *ngIf="activatedModal.state == 'details' ">
            <body *ngIf="!editPk">
                <span *ngIf="!editPk" class="editBtn" (click)=" edit('editPk') ">edit</span>
                <div>
                    Package: <span>{{selectedService.package}}</span>
                </div>
                <div>
                    Create At: <span>{{generateTime(selectedService.createAt)}}</span>
                </div>
                <div>
                    Admin: <span *ngIf="selectedService.participants.admin.userData">{{selectedService.participants.admin.userData.name}}<small> ({{selectedService.participants.admin.userData.email.data}})</small></span>
                </div>
                <div>
                    Advisor: <span *ngIf="selectedService.participants.advisor.userData">{{selectedService.participants.advisor.userData.name}}<small> ({{selectedService.participants.advisor.userData.email.data}})</small></span>
                </div>
                <div>
                    Student:
                    &nbsp;&nbsp;
                    <span *ngIf="selectedService.participants.student.confirmed"><i class="fa fa-check-square"></i></span>
                    <span *ngIf="!selectedService.participants.student.confirmed"><i class="fa fa-minus-square"></i></span> 
                    <span *ngIf="selectedService.participants.student.userData">{{selectedService.participants.student.userData.name}}<small> ({{selectedService.participants.student.userData.email.data}})</small></span>
                </div>
                <div>
                    Supervisor: <span *ngIf="selectedService.participants.supervisor.userData">{{selectedService.participants.supervisor.userData.name}}<small> ({{selectedService.participants.supervisor.userData.email.data}})</small></span>
                </div>
            </body>
            <body *ngIf="editPk">
                <span *ngIf="editPk" class="editBtn" (click)=" edit('editPk') ">cancel</span>
                <form #updateServiceForm="ngForm">
                    <div>
                        Advisor: <input placeholder="Advisor Email" type="text" class="form-control" *ngIf="tempararyService.participants.advisor" [(ngModel)]="tempararyService.participants.advisor.newAdvisorEmail" name="advisor" [disabled]="!editPk">
                    </div>
                    <!--<div>
                        Supervisor: <input placeholder="Supervisor Email" type="text" class="form-control" *ngIf="tempararyService.participants.supervisor" [(ngModel)]="tempararyService.participants.supervisor.userData" name="advisor" [disabled]="!editPk">
                    </div>-->
                    <br>
                    <button class="btn btn-primary" type="submit" (click)=" updateService(tempararyService) " [disabled]="!updateServiceForm.form.valid">{{activatedModal.behavior}}</button>
                    <br>
                </form>
            </body>
            <footer>
            </footer>
        </span>
    </div>
</div>
<!--Modal over-->