@import "../../../style/variables";
// @import "../../style/global";

.card {
  border-radius: 0px !important;
}
.card-block {
    &.service {
        span {
            text-align: right;
            float: right;
        }
    }
    .check-container {
      margin-left: 10px;
    }

}

@media (min-width: 767px) {  }

.paper {
  height: 572px;
}
.white-bg {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.participants {
  margin-bottom: 20px;
  padding: 25px;
}
.package-container {
  padding: 25px;
  overflow-y: scroll;
}
.confirmed-btn {
  float: right;
  color: $luxury-green;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: none;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $luxury-green;
}

.waiting-btn {
  float: right;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
}

/* Spinner animate */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}