@import "variables";
@import "override";
@import "responsive";

body {
    font-family: 'Lato', 'helvetica neue',helvetica,arial,sans-serif !important;
    hr.small {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    button.btn.btn-primary {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 10px auto 20px;
        border: none;
        width: 100%;
        background: $brand-primary;
        color: white;
        height: 55px;
        outline: none;
        transition: 0.1s background ease-in-out;
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        &:hover {
            background: $brand-secondary;
        }
        &:active {
            background: darken(#65CFF1, 10%);
        }
    }
    button.btn.btn-secondary {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 10px auto 20px;
        border: none;
        width: 100%;
        background: lighten($brand-secondary, 5%);
        color: white;
        height: 55px;
        outline: none;
        transition: 0.1s background ease-in-out;
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        &:hover {
            background:  lighten($brand-secondary, 10%);
        }
        &:active {
            background: darken($brand-secondary, 10%);
        }
    }
    .white-card {
        user-select: none;
        display: inline-block;
        padding: 15px;
        background: white;
        margin: 10px auto;
        border: 0 solid;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 -1px 1px 0 rgba(0,0,0,0.1);
        position: relative;
        width: 100%;
        min-width: 150px;
        min-height: 280px;
        height: auto;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        &.image {
            padding-top: 190px;
        }

        .image {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 5px 5px 0 0;
            width: 100%;
            height: 170px;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
        }
        .information {
            position: relative;
            border-radius: 0 0 5px 5px;
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #2e3b4e;
            h5 {
                font-weight: 400;
                text-transform: capitalize;
            }
            h6 {
                font-weight: 300;
                margin-bottom: 0px;
            }
        }
    }
}


@media (min-width: 767px) {
    // on desktop
}
@media (max-width: 767px) {
    // on mobile specific - deprecated
}
