@import "../../shared/scss/variables";
@import "../../shared/scss/global";

.section {
    overflow: hidden;
    background: white;
    text-align: center;
    padding: 20px 5px;
    margin: 10px auto;
    h1.title {
        margin: 0 auto;
        font-weight: 300;
        font-size: 170%;
    }
    input.totalPrice {
        margin: auto;
        text-align: center;
        font-size: 300%;
        font-weight: 900;
        border: 0 solid;
        display: block;
        outline: none;
        margin-top: 0;
        padding: 5px 10px;
        width: 90% !important;
    }
    .row {
        margin: 0;
    }
    .intervalChoice {
        padding: 0 10px;
        .choice {
            color: rgba(0,0,0,0.8);
            cursor: pointer;
            padding: 10px 5px;
            margin: 5px 0;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 3px;
            &.selected {
                background: $brand-primary;
                color: white;
                border-color: $brand-primary;
                &:hover {
                    background: $brand-primary;
                    border-color: $brand-primary;
                }
                &:active {
                    background: darken($brand-primary, 5%);
                    border-color: darken($brand-primary, 5%);
                }
            }
            &:hover {
                background: rgba(0,0,0,0.05);
                border-color: rgba(0,0,0,0.1);
            }
        }
    }
    &.summary {
        table.table {
            text-align: left;
            td {
                font-weight: 600;
            }
        }
    }
    .form-item {
        input.total {
            text-align: center;
            box-shadow: none;
            font-size: 6em;
            color: rgba(0,0,0,0.7);
            font-weight: 100;
            height: 80px;
        }
        input[type=range] {
            -webkit-appearance: none;
            border-radius: 100px;
            height: 1px;
            background: rgba(0,0,0,0.2);
            box-shadow: inset 0 0 0 0.2px rgba(0,0,0,0.3);
            outline: none;
            margin: 30px;
            max-width: 90%;
            white-space: nowrap;
            padding: 0 -10px;
            width: 70%;
            cursor: col-resize;
        }
        input[type=range]::-webkit-slider-runnable-track {
            outline: none;
            cursor: col-resize;
        }
        input[type=range]::-webkit-slider-thumb {
            cursor: col-resize;
            -webkit-appearance: none;
            // box-shadow: 0 2px 0.6px -0.7px rgba(0,0,0,2);
            border-radius: 50%;
            border: 5px solid $brand-primary;
            height: 30px;
            width: 30px;
            background: white;
            margin-top: -0.6px;
        }
        input[type=range]:active::-webkit-slider-thumb {
            // box-shadow: 0 1px 0.6px -0.7px rgba(0,0,0,1), inset 0 0 0 0.4px rgba(0,0,0,0.3);
            background: lighten($brand-primary, 5%);
            border-color: lighten($brand-primary, 5%);
        }
    }
    .installmentsGraphContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .graph-item {
            border-radius: 3px;
            max-width: 8%;
            background: rgba(0,0,0,0.2);
            margin: 4px;
            height: 100px;
            width: 30px;
            max-height: 120px;
            min-height: 35px;
            position: relative;
            span {
                position: absolute;
                bottom: -20px;
                font-size: 0.8em;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    h1.title {
        color: #2E3B50;
        font-weight: 300;
        margin-bottom: 10px;
        text-align: center;
    }
    h2.title {
        font-size: 100%;
        text-transform: uppercase;
        color: rgba(0,0,0,0.7);
        font-weight: 600;
        letter-spacing: 1px;
    }
    h2.notes {
        font-size: 80%;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
        // letter-spacing: 0px;
    }
}

@media (min-width: 767px) {

    .plan_section {
        h1.title {
            font-size: 200%;
            overflow-y: hidden;
            overflow-x: scroll; 
        }
        input.totalPrice {
            width: 40%;
        }
    }
}
@media (max-width: 767px) {
}