<h4 class="title">请选择登入身分</h4>
<div class="col-sm-4">
    <div [routerLink]="['/auth/student']" class="card card-block text-xs-center">
        <p><b>Student</b></p>
        <small><p>学生</p></small>
    </div>
</div>
<div class="col-sm-4">
    <div [routerLink]="['/auth/advisor']" class="card card-block text-xs-center">
        <p><b>Advisor</b></p>
        <small><p>顾问</p></small>
    </div>
</div>
<div class="col-sm-4">
    <div [routerLink]="['/auth/admin']" class="card card-block text-xs-center">
        <p><b>Admin</b></p>
        <small><p>管理员</p></small>
    </div>
</div>