<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>一般信息</b><span class="editBtn">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">邮箱</div>
                        <div class="col-xs-8">{{currentUser.email.data}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">全名</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.fullEName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>用戶概况</b><span class="editBtn">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">现读学校</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">目标学校</div>
                        <div class="col-xs-8" *ngIf="currentUser.createAt">{{createAt(currentUser.createAt)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">目标专业</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.customService}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">转学时间</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.customService}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>服務细节</b><span class="editBtn">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">服务类型</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">加入时间</div>
                        <div class="col-xs-8" *ngIf="currentUser.createAt">{{createAt(currentUser.createAt)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">欧耶签约人</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.customService}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">欧耶监护人</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.customService}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">欧耶顾问</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.customService}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>