<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6><b>一般信息</b></h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">邮箱</div>
                        <div class="col-xs-8" style="text-align: right">{{currentUser.email.data}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">中文全名</div>
                        <div class="col-xs-8" style="text-align: right" *ngIf="currentUser.info.fullCName">{{currentUser.info.fullCName}}</div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-4" style="text-align: left">Eng. Name</div>
                    <div class="col-xs-8" style="text-align: right" *ngIf="currentUser.info.fullEName">{{currentUser.info.fullEName}}</div>
                    </div>
                     <div class="row">
                        <div class="col-xs-4" style="text-align: left">服务类型</div>
                        <div class="col-xs-8" style="text-align: right" *ngIf="currentUser.info.package">{{currentUser.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">加入时间</div>
                        <div class="col-xs-8" style="text-align: right" *ngIf="currentUser.createAt">{{currentUser.createAt}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">欧耶监护人</div>
                        <div class="col-xs-8" style="text-align: right" *ngIf="currentUser.info.customService">{{currentUser.info.customService}}</div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <!--<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6><b>联络</b></h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">邮箱</div>
                        <div class="col-xs-8" style="text-align: right">amazingandyyy@gmail.com</div>
                    </div>
                     <div class="row">
                        <div class="col-xs-4" style="text-align: left">中文全名</div>
                        <div class="col-xs-8" style="text-align: right">{{user.info.fullCName}}</div>
                    </div>
                     <div class="row">
                        <div class="col-xs-4" style="text-align: left">English Name</div>
                        <div class="col-xs-8" style="text-align: right">{{user.info.fullEName}}</div>
                    </div>
                     <div class="row">
                        <div class="col-xs-4" style="text-align: left">服务类型</div>
                        <div class="col-xs-8" style="text-align: right">{{user.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">加入时间</div>
                        <div class="col-xs-8" style="text-align: right">{{user.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="text-align: left">欧耶监护人</div>
                        <div class="col-xs-8" style="text-align: right">{{user.info.package}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>-->

</div>