<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>Account Infomation</b>
                        <span class="editBtn" (click)="edit('editAI')" *ngIf="!(editAI)">
                            edit
                        </span>
                        <span class="editBtn" (click)="edit('editAI')" *ngIf="editAI">
                            cancel
                        </span>
                    </h6>
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>Email</span>
                                <span style="opacity: 0.6;">
                                    <small *ngIf="!currentUser.email.verified">(Not verified)</small>
                                    <small *ngIf="currentUser.email.verified">(Verified)</small>
                                </span>
                            </div>
                            <div class="col-xs-8">
                                <input type="email" class="form-control text-lowercase" placeholder="" [(ngModel)]="currentUser.email.data" name="email" [disabled]="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Name</div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="currentUser.name" name="name" [disabled]="!editAI">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Role</div>
                            <div class="col-xs-8" *ngIf="currentUser.role">
                                {{currentUser.role}}
                            </div>
                        </div>
                    </div>
                    <span *ngIf="editAI">
                        <h6>
                            <span class="editBtn" (click)="onSubmit(currentUser, 'editAI')">
                                Save
                            </span>
                        </h6>
                    <br>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <!--<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>General Infomation</b>
                        <span class="editBtn" (click)="edit('editGI')" *ngIf="!(editGI)">
                            edit
                        </span>
                        <span class="editBtn" (click)="edit('editGI')" *ngIf="editGI">
                            cancel
                        </span>
                    </h6>
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>Email</span>
                                <span style="opacity: 0.6;">
                                    <small *ngIf="!currentUser.email.verified">(Not verified)</small>
                                    <small *ngIf="currentUser.email.verified">(Verified)</small>
                                </span>
                            </div>
                            <div class="col-xs-8">
                                <input type="email" class="form-control text-lowercase" placeholder="" [(ngModel)]="currentUser.email.data" name="email" [disabled]="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Name</div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="currentUser.name" name="name" [disabled]="!editGI">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Role</div>
                            <div class="col-xs-8" *ngIf="currentUser.role">
                                {{currentUser.role}}
                            </div>
                        </div>
                    </div>
                    <span *ngIf="editGI">
                        <h6>
                            <span class="editBtn" (click)="onSubmit(currentUser, 'editGI')">
                                Save
                            </span>
                        </h6>
                    <br>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>-->
    <!--<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>Profile</b><span class="editBtn">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">Current College</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">
                            {{currentUser.info.school}}
                            <small *ngIf="currentUser.info.graduateDate">{{generateDate(currentUser.info.graduateDate)}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Intended Major</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.major}}
                        </div>
                    </div>
                    <div class="row" *ngIf="currentUser.role.indexOf(student) !== -1">
                        <div class="col-xs-4">Intended University</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.intendedSchool}}</div>
                    </div>
                    <div class="row" *ngIf="currentUser.role.indexOf(student) !== -1">
                        <div class="col-xs-4">Transfer Time</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.expectedTranser}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" *ngIf="currentUser.role === 'student'">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>Service Details</b><span class="editBtn" *ngIf="false">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">Service package</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.package}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Joining time</div>
                        <div class="col-xs-8" *ngIf="currentUser.createAt">{{generateTime(currentUser.createAt)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Yeah Contractor</div>
                        <div class="col-xs-8">{{currentUser.contractor}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Yeah Guardian</div>
                        <div class="col-xs-8">{{currentUser.guardian}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Yeah Advisor</div>
                        <div class="col-xs-8">{{currentUser.advisor}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" *ngIf="!(currentUser.role === 'student')">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>Profession</b><span class="editBtn">edit</span>
                    </h6>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">Brief Introduction</div>
                        <div class="col-xs-8" *ngIf="currentUser.info">{{currentUser.info.selfIntro}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Spoken Languages</div>
                        <div class="col-xs-8" *ngIf="currentUser.languages">
                            <span *ngFor="let lang of currentUser.languages">{{lang}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>-->
</div>