<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-block">
                    <h6>
                        <b>Account Infomation</b>
                        <span class="editBtn" (click)="edit('editAI')" *ngIf="!(editAI)">
                            edit
                        </span>
                        <span class="editBtn" (click)="edit('editAI')" *ngIf="editAI">
                            cancel
                        </span>
                    </h6>
                    <hr/>
                    <div>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>Email</span>
                                <span class="tag">
                                    <span *ngIf="!currentUser.email.verified">Not Verified</span>
                                    <span *ngIf="currentUser.email.verified">Verified</span>
                                </span>
                            </div>
                            <div class="col-xs-8">
                                <input type="email" class="form-control text-lowercase" placeholder="" [(ngModel)]="currentUser.email.data" name="email" [disabled]="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Name</div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="currentUser.name" name="name" [disabled]="!editAI">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Role</div>
                            <div class="col-xs-8" *ngIf="currentUser.role">
                                {{currentUser.role}}
                            </div>
                        </div>
                    </div>
                    <span *ngIf="editAI">
                        <h6>
                            <span class="editBtn" (click)="updateCurrentUser(currentUser, 'editAI')">
                                Save
                            </span>
                        </h6>
                    <br>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" *ngIf="checkRole('advisor', currentUser)">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>