@import "../myvariables";
.form-responsive {
    text-align: center;
    padding-top: 10px;
    .form-container {
        width: 100%;
        // border: 1px solid red;
        img.logo {
            width: 50px;
            margin-bottom: 40px;
            font-family: sans-serif;
        }
        .form-item {
            // border: 1px solid red;
            width: 100%;
            margin: auto;
            padding: 0;
            position: relative;
            .form-label {
                text-align: left;
                font-size: 1em;
                font-weight: 300;
                color: rgba(0,0,0,0.5);
                margin: 10px 10px 5px 8px;
            }
            input {
                height: 50px;
                width: 100%;
                border: none;
                box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
                text-align: left;
                font-size: 110%;
                font-weight: 300;
                padding: 5px 20px;
                outline: none;
                color: rgba(0,0,0,0.4);
                margin-bottom: -1px;
            }
            input:focus {
                font-weight: 500;
            }
            input.password {
                padding-right: 45px !important;
            }
            span.input-icon {
                opacity: 0.5;
                z-index: 99;
                background: none;
                height: 100%;
                width: 20px;
                line-height: 50px;
                position: absolute;
                top: 0;
                right: 20px;
                color: rgba(0,0,0,0.3);
                font-size: 1.3em;
            }
            span.input-icon.active {
                opacity: 1;
            }
            .action-button {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                margin-top: 50px;
                border: none;
                border-radius: 0;
                width: 100%;
                background: #04AADC;
                color: white;
                height: 55px;
                outline: none;
                transition: .1s background ease-in-out;
                cursor: pointer;
            }
            button.action-button:hover {
                background: $brand-secondary;
            }
            button.action-button:active {
                background: darken(#65CFF1, 10%);
            }
        }
    }
}
@media (min-width: 767px) {
    .form-responsive {
        padding-top: 10px;;
        text-align: center;
        .form-container {
            max-width: 400px;
            margin: auto;
            background: white;
        }
        button.action-button {
            border-radius: 5px !important;
        }
    }
}
@media (max-width: 767px) {}
