<div class="dashboard-page">
    <span (click)="profileToggled=false; inboxToggled=false">
        <nav>
            <div>Yeah Education</div>
        </nav>
        <div class="menu">
            <div [routerLink]="['/dashboard/pipe']" class="menu-item" (click)="checkMenuStyle('pipe')" [class.active]="currentSession==='pipe'" *ngIf=" currentUserRole=='student' || currentUserRole=='advisor' ">Timeline</div>
            <div [routerLink]="['/dashboard/explore']" class="menu-item" (click)="checkMenuStyle('explore')" [class.active]="currentSession==='explore'">Explore</div>
            <div [routerLink]="['/dashboard/resumes']" class="menu-item" (click)="checkMenuStyle('resumes')" [class.active]="currentSession==='resumes'" *ngIf="currentUserRole=='student'">Resumes</div>
            <div [routerLink]="['/dashboard/company']" class="menu-item" (click)="checkMenuStyle('company')" [class.active]="currentSession==='company'" *ngIf="currentUserRole=='superadmin'">Company</div>
        </div>
        <router-outlet></router-outlet>
    </span>
    
    <!--nav-menu is fixed position so put it under everything-->
    <div class="nav-menu">
        <span class="nav-item">
            <i class="fa fa-bell" (click)="inboxToggled = !inboxToggled; profileToggled = false"></i>
            <div class="list-menu" *ngIf="inboxToggled" [class.active]="inboxToggled">
                <ul>
                    <li>message</li>
                    <li>message</li>
                    <li>more messages</li>
                </ul>
            </div>
        </span>
        <span class="nav-item">
            <i class="fa fa-user" (click)="profileToggled = !profileToggled; inboxToggled = false"></i>
            <div class="list-menu" *ngIf="profileToggled" [class.active]="profileToggled">
                <ul (click)="profileToggled=false; inboxToggled=false">
                    <li [routerLink]="['/dashboard/account']" class="text-capitalize">Profile</li>
                    <li [routerLink]="['/dashboard/setting']" class="text-capitalize">Setting</li>
                    <li class="text-capitalize" (click)="logout()">Log Out</li>
                </ul>
            </div>
        </span>
    </div><!-- nav-menu over-->
</div>