<div class="dashboard-page">
    <span (click)="profileToggled=false; inboxToggled=false">
        <nav>
            <div>欧耶转学助手</div>
        </nav>
        <div class="menu">
            <div [routerLink]="['/dashboard/pipe']" class="menu-item" >转学流程</div>
            <div [routerLink]="['/dashboard/explore']" class="menu-item" >探索资源</div>
            <div [routerLink]="['/dashboard/resumes']" class="menu-item" >履历表</div>
        </div>
        <router-outlet></router-outlet>
    </span>
    
    <!--nav-menu is fixed position so put it under everything-->
    <div class="nav-menu">
        <span class="nav-item">
            <i class="fa fa-bell" (click)="inboxToggled = !inboxToggled; profileToggled = false"></i>
            <div class="list-menu" [class.active]="inboxToggled">
                <ul>
                    <li>訊息</li>
                    <li>訊息</li>
                </ul>
            </div>
        </span>
        <span class="nav-item">
            <i class="fa fa-user" (click)="profileToggled = !profileToggled; inboxToggled = false"></i>
            <div class="list-menu" [class.active]="profileToggled">
                <ul (click)="profileToggled=false; inboxToggled=false">
                    <li [routerLink]="['/dashboard/account']" class="text-capitalize">个人信息</li>
                    <li class="text-capitalize" (click)="logout()">登出</li>
                </ul>
            </div>
        </span>
    </div><!-- nav-menu over-->
</div>