@import "../shared/scss/variables";
@import "../shared/scss/global";

.form-item {
    width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
    input {
        height: 50px;
        width: 100%;
        border: none;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
        text-align: left;
        font-size: 110%;
        font-weight: 300;
        padding: 5px 20px;
        outline: none;
        color: rgba(0,0,0,0.4);
        margin-bottom: -1px;

        &:focus {
            font-weight: 500;
        }

        &.password {
            padding-right: 45px !important;
        }
    }
    
    span.lock {
        opacity: 0.5;
        z-index: 99;
        background: none;
        height: 100%;
        width: 20px;
        line-height: 50px;
        position: absolute;
        top: 0;
        right: 20px;
        color: rgba(0,0,0,0.3);
        font-size: 1.3em;
    }
}

@media (min-width: 767px) {
    // on desktop
}
@media (max-width: 767px) {
    // on mobile specific - deprecated
}
