@import "../variables";
@import "../global";

button.btn {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px auto 15px;
    border: 1px solid rgba($brand-primary, 0); // no color
    padding: 8px 40px;
    transition: 0.3s background ease-in-out;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    user-select: none;
    border-radius: 4px !important;
    outline: none !important; 
    &.btn-narrow {
        padding: 8px 20px;
    }
    &.btn-small {
        padding: 3px 15px;
    }
    &.btn-inline {
        margin: 0px 0px;
    }
}
button.btn.btn-primary {
    background: $brand-primary;
    color: white;
    &[disabled] {
        background: $brand-primary;
        opacity: 0.9;
        &:hover{
            background: $brand-primary;
        }
    }
    &:hover {
        transition: 0s background ease-in-out;
        background: lighten($brand-primary, 10%);
        border-color: lighten($brand-primary, 8%);
    }
    &:active {
        background: darken($brand-primary, 5%);
        // transform: scale(0.99);
    }
}
button.btn.btn-secondary {
    background: lighten($brand-secondary, 5%);
    color: white;
    &:hover {
        // transition: 0.1s background ease-in-out;
        background:  lighten($brand-secondary, 10%);
    }
    &:active {
        background: darken($brand-secondary, 10%);
        // transform: scale(0.99);
    }
}
button.btn.btn-secondary-o {
    background: none;
    border: 1px solid rgba($deep-gray, 0.3);
    color: $deep-gray;
    &:hover {
        background: rgba($deep-gray, 0.03);
        transition: 0.1s background ease-in-out;
        color: darken($deep-gray, 100%);
        border: 1px solid rgba($deep-gray, 0.3);
        opacity: 1;
    }
    &:active {
        background: rgba($deep-gray, 0.04);
        // transform: scale(0.99);
    }
}
select.form-control {
    border-radius: 3px !important;
    height: 2.4rem !important;
}

@media (min-width: 767px) {  }